@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
:root {
  --four: #222831;
  --three: #393e46;
  --two: #00adb5;
  --one: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

body {
  position: relative;
}

.navbar {
  background-color: var(--four);
  padding: 0 150px;
}
.navbar .logo {
  position: absolute;
  top: -95px;
}
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 20px;
}
.navbar ul li {
  list-style-type: none;
  margin-left: 15px;
}
.navbar ul li a {
  color: var(--one);
  padding: 10px;
  text-decoration: none;
  font-size: 1.28rem;
  transition: all 1s;
  border-radius: 0.65rem;
  font-weight: 500;
}
.navbar ul li a:hover {
  color: var(--two);
  background: var(--one);
  border-radius: 1.2rem;
  font-weight: 600;
}
.navbar .nav-contact {
  color: var(--one);
  padding: 10px;
  text-decoration: none;
  font-size: 1.28rem;
  transition: all 1s;
  border-radius: 0.65rem;
  font-weight: 500;
  transition: all 1s;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.65rem;
  font-weight: 500;
}
.navbar .nav-contact:hover {
  color: var(--two);
  background: var(--one);
  border-radius: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.red-box {
  background-color: red;
}

@media (max-width: 600px) {
  .navbar {
    padding-left: 5px;
    height: 75px;
  }
  .navbar .logo {
    width: 45%;
    right: 10px;
    top: -85px;
  }
  .navbar #menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar #menu #login-navbar {
    padding-left: 10px;
  }
  .navbar #menu .logs {
    margin-left: 10px;
  }
  .navbar #menu li {
    margin: 0px 0px;
    display: none;
  }
  .navbar #menu li:hover {
    cursor: grab;
  }
  .navbar #menu li a {
    padding: 0 10px;
    border-radius: 0.3rem;
    transition: border-radius 1s;
    margin: 10px 0px;
  }
  .navbar #menu li a:hover {
    border-radius: 1rem;
    cursor: pointer;
  }
}
.nav-home {
  padding-left: 300px;
}

.right-nav-item {
  padding-left: 100px;
}

.burger-icon {
  display: none;
  cursor: pointer;
  border-radius: 50%;
}
@media (max-width: 600px) {
  .burger-icon {
    display: block;
  }
}

@media (max-width: 601px) {
  #menu {
    display: block;
  }
  #menu .nav-item {
    display: block;
  }
  #menu .right-nav-item {
    padding-left: 0;
  }
  #menu .nav-home {
    padding-left: 0px;
  }
}
.hidden {
  display: none;
}

#contact-form-container {
  max-width: 600px;
  margin: 0 auto;
  opacity: 1;
}

.form-group {
  margin-bottom: 1rem;
}

.form-check {
  margin-top: 1rem;
}

.form-check-label {
  padding-left: 1.5rem;
}

#contact-form-container.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

#login-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--four);
  padding: 20px;
  z-index: 2;
  display: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#login-form h2 {
  color: #eeeeee;
  margin-top: 0;
  font-weight: 600;
}
#login-form label {
  display: block;
  margin-bottom: 5px;
  color: #eeeeee;
}
#login-form input[type=text],
#login-form input[type=password] {
  width: 80%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: #222831;
  background-color: #eeeeee;
  margin-bottom: 10px;
  margin-right: 80px;
}
#login-form button[type=submit] {
  display: block;
  margin-top: 20px;
  background-color: #00adb5;
  color: #eeeeee;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.message-box {
  position: fixed;
  top: 30;
  right: 0;
  padding: 10px;
  background-color: #00adb5;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  display: none;
}

.show {
  display: block;
  animation: fade-out 3s forwards;
}

@keyframes fade-out {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#register-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--three);
  padding: 20px;
  z-index: 2;
  display: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 18%;
}
#register-form h2 {
  color: var(--one);
  margin-top: 0;
  font-weight: 500;
  margin-bottom: 10px;
}
#register-form label {
  display: block;
  margin-bottom: 5px;
  color: var(--one);
}
#register-form input[type=text],
#register-form input[type=password] {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: #222831;
  background-color: #ffffff;
  margin-bottom: 10px;
}
#register-form .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
#register-form .buttons button[type=submit] {
  background-color: #00adb5;
  color: #ffffff;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
#register-form .buttons button[type=cancel] {
  margin-right: 25px;
  background-color: #f55d90;
  font-weight: 600;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.ipf {
  width: 90%;
}

.message-box {
  position: fixed;
  top: 30px;
  right: 0;
  padding: 10px;
  background-color: #00adb5;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 500;
  display: none;
}
.message-box.error {
  background-color: #f55d90;
}

.show {
  display: block;
  animation: fade-out 3s forwards;
}

@keyframes fade-out {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.video-container .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 3rem;
  font-family: monospace;
  letter-spacing: 0.1rem;
}
.video-container .content #typing-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(40) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
#sidebar {
  position: fixed;
  top: 100px;
  left: 0;
  width: 150px;
  background-color: var(--three);
  padding: 20px;
  display: none;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}
#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar ul li {
  margin: 10px 0;
}
#sidebar ul li a {
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--one);
  text-decoration: none;
}
#sidebar ul li a:hover {
  color: var(--two);
}
@media screen and (min-width: 768px) {
  #sidebar {
    display: block;
  }
}

.campus-image-container .campus-image {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-our-values {
  background-color: #ffffff;
}
.section-our-values h1 {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 40px;
  font-weight: 700;
  font-size: 2.3rem;
  color: var(--three);
}
.section-our-values hr {
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  height: 5px;
  background-color: grey;
  border: none;
  border-radius: 2rem;
}
.section-our-values h3 {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
  font-weight: 700;
  font-size: 1.7rem;
  color: var(--two);
}

.section-about-text {
  background-color: rgb(244, 244, 244);
  padding: 50px;
  padding-bottom: 30px;
  margin-top: 50px;
  text-align: left;
  font-size: 1.17rem;
  color: var(--three);
}
.section-about-text p {
  font-family: "Kalam", cursive;
  padding: 40px;
  margin: 0 120px;
}

.section-cards {
  text-align: center;
  padding: 40px 0px 40px 0px;
}
.section-cards .card {
  display: inline-block;
  background-color: #fff;
  border: 2px solid var(--three);
  border-radius: 5px;
  padding: 20px;
  height: 400px;
  margin-bottom: 20px;
  width: 30%;
}
.section-cards .card h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.section-cards .card hr {
  border-color: #ccc;
  margin: 15px 0;
}
.section-cards .card p {
  text-align: justify;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0;
}
.section-cards .card:hover {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.section-history {
  background-color: #ffffff;
}
.section-history h1 {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 40px;
  font-weight: 700;
  font-size: 2.3rem;
  color: var(--three);
}

.section-history-text {
  background-color: rgb(244, 244, 244);
  padding: 50px;
  padding-bottom: 30px;
  margin-top: 50px;
  text-align: left;
  font-size: 1.17rem;
  color: var(--three);
}
.section-history-text p {
  font-family: "Kalam", cursive;
  padding: 40px;
  margin: 0 120px;
}

.section-cards-history {
  text-align: center;
  padding: 40px 0px 40px 0px;
}
.section-cards-history .card {
  display: inline-block;
  background-color: #fff;
  border: 2px solid var(--three);
  border-radius: 5px;
  padding: 20px;
  height: 430px;
  margin-bottom: 20px;
  width: 30%;
  vertical-align: top;
}
.section-cards-history .card span {
  color: var(--two);
  font-weight: 700;
}
.section-cards-history .card h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.section-cards-history .card hr {
  border-color: #ccc;
  margin: 15px 0;
}
.section-cards-history .card p {
  text-align: justify;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0;
}
.section-cards-history .card:hover {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.section-algebra-group {
  background-color: #ffffff;
}
.section-algebra-group h1 {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 40px;
  font-weight: 700;
  font-size: 2.3rem;
  color: var(--three);
}

.section-algebra-group-text {
  background-color: rgb(244, 244, 244);
  padding: 50px;
  padding-bottom: 30px;
  margin-top: 50px;
  text-align: left;
  font-size: 1.17rem;
  color: var(--three);
}
.section-algebra-group-text p {
  font-family: "Kalam", cursive;
  padding: 40px;
  margin: 0 120px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -10px;
  margin-bottom: 80px;
  vertical-align: top;
  margin-top: 40px;
}
.row .technology {
  display: inline-block;
  vertical-align: top;
  width: calc(25% - 20px);
  margin: 0 10px;
  text-align: center;
}
.row .technology h1 {
  font-size: 1.05rem;
  font-weight: 700;
  text-align: justify;
  color: var(--three);
}
.row .technology img {
  padding-top: 15px;
}

.section-reach-us {
  background-color: #ffffff;
}
.section-reach-us h1 {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 40px;
  font-weight: 700;
  font-size: 2.3rem;
  color: var(--three);
}

.location {
  display: flex;
  justify-content: space-between;
  background-color: #f7f7f7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px;
}
.location .location-card {
  width: 45%;
  background-color: #fff;
  border: 2px solid var(--three);
  border-radius: 5px;
  padding: 20px;
  height: 400px;
  margin-bottom: 20px;
}
.location .location-card h1 {
  font-weight: 600;
  font-size: 2rem;
  color: var(--two);
}
.location .location-card hr {
  border-color: #ccc;
  margin: 15px 0;
}
.location .location-card p {
  font-weight: 500;
  padding-left: 35px;
}
.location .google-map {
  margin-top: 50px;
}

.news-header {
  background-color: #ffffff;
}
.news-header h1 {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 40px;
  font-weight: 700;
  font-size: 2.3rem;
  color: var(--three);
}
.news-header hr {
  border-color: #5cbaf0;
  margin: 15px 0;
  width: 60%;
  margin: 0 auto;
  border-width: 3px;
}

.circle-section {
  text-align: center;
  padding: 40px 0;
}
.circle-section .circle {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 20px;
  margin-top: 0px;
  border: 20px solid #f2f2f2;
  border-radius: 50%;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  background-size: cover;
}
.circle-section .circle a {
  text-decoration: none;
}
.circle-section .circle:hover {
  transform: translateY(-10px);
  transition: transform 0.5s ease;
}
.circle-section .circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(228, 228, 228, 0.5);
  z-index: 1;
}
.circle-section .circle.circle1 {
  background-image: url("/img/news1.jpg");
  background-position: center;
}
.circle-section .circle.circle2 {
  background-image: url("/img/news2.jpg");
  background-position-x: center;
}
.circle-section .circle.circle3 {
  background-image: url("/img/news3.jpg");
  background-position-x: center;
}
.circle-section .circle .circle-inner {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}
.circle-section .circle .circle-inner .top-text {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--two);
  text-shadow: 1px 1px #000;
}
.circle-section .circle .circle-inner .bottom-text {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--one);
  text-shadow: 1px 1px #000;
}
.circle-section .circle::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.image-section {
  width: 100%;
  height: 500px;
  background-image: url("/img/spark-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-section h2 {
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
}
.image-section h2 span {
  display: block;
  font-size: 2.5rem;
  color: #f9dd01;
}

.image-section-news {
  position: relative;
  height: 40vh;
  overflow: hidden;
}
.image-section-news .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.image-section-news .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: fade-in 1s ease-in-out;
}
.image-section-news .image-container .image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.image-section-news .image-container .image-text h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.image-section-news .image-container .image-text p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section-news-title h1 {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
  font-weight: 700;
  font-size: 2.3rem;
  color: var(--three);
}
.section-news-title hr {
  border-color: #5cbaf0;
  margin: 15px 0;
  width: 60%;
  margin: 0 auto;
  border-width: 3px;
}

.section-news-description {
  padding: 20px 0;
  margin-top: 50px;
  background-color: rgb(245, 245, 245);
  text-align: left;
}
.section-news-description p {
  padding: 10px 250px 30px 250px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
}

.media-section {
  width: 60%;
  margin: auto;
  padding: 80px 0;
}
.media-section .media-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.media-section .media-container .media-image {
  width: 40%;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
}
.media-section .media-container .media-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
.media-section .media-container .media-image img:hover {
  transform: scale(1.1);
}
.media-section .media-container .media-image:last-child {
  margin-right: 0;
}
.media-section .media-container .media-video {
  width: 100%;
  margin-top: 30px;
}
.media-section .media-container .media-video video {
  border-radius: 1rem;
  width: 100%;
  height: auto;
}

.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-content {
  background-color: #eeeeee;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal .modal-content h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #00adb5;
  margin-bottom: 30px;
}
.modal .modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal .modal-content form label {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #393e46;
}
.modal .modal-content form input,
.modal .modal-content form select,
.modal .modal-content form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #393e46;
  color: #eeeeee;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 20px;
}
.modal .modal-content form input::-moz-placeholder, .modal .modal-content form select::-moz-placeholder, .modal .modal-content form textarea::-moz-placeholder {
  color: #eeeeee;
  opacity: 0.7;
}
.modal .modal-content form input::placeholder,
.modal .modal-content form select::placeholder,
.modal .modal-content form textarea::placeholder {
  color: #eeeeee;
  opacity: 0.7;
}
.modal .modal-content form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.modal .modal-content form .checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.modal .modal-content form .checkbox-container input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid #eeeeee;
  margin-right: 10px;
  cursor: pointer;
}
.modal .modal-content form .checkbox-container input[type=checkbox]:checked + .checkmark:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #00adb5;
  border-radius: 3px;
  margin: 3px;
}
.modal .modal-content form .checkbox-container .checkmark {
  width: 26px;
  height: 26px;
  border-radius: 5px;
  border: 2px solid #eeeeee;
  position: relative;
  cursor: pointer;
}
.modal .modal-content form .checkbox-container .checkmark:after {
  content: "";
  display: none;
}
.modal .modal-content form .buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.modal .modal-content form .buttons-container button {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.modal .modal-content form .buttons-container button:focus {
  outline: none;
}
.modal .modal-content form .buttons-container .submit-button {
  background-color: #00adb5;
  color: #eeeeee;
  margin-right: 10px;
}
.modal .modal-content form .buttons-container .submit-button:hover {
  background-color: #222831;
}
.modal .modal-content form .buttons-container .cancel-button {
  background-color: #393e46;
  color: #eeeeee;
}
.modal .modal-content form .buttons-container .cancel-button:hover {
  background-color: #222831;
}/*# sourceMappingURL=styles.css.map */